name: Java CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        java_version: [18]
        os: [windows-latest, macOS-latest, ubuntu-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java_version }}
          distribution: 'openjdk'
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots package
    
#   coverage:
#     name: Coverage
#     runs-on: ubuntu-18.04
#     needs: [build]
#     if: github.event_name == 'push'
#     steps:
#       - uses: actions/checkout@v1
#         with:
#           fetch-depth: 1
#       - uses: actions/setup-java@v1
#         with:
#           java-version: 17
#           architecture: x64
#       - name: Make Maven Wrapper executable
#         if: contains(matrix.os, 'win') == false
#         run: chmod +x ./mvnw  
#       - name: Build project
#         run: ./mvnw jacoco:prepare-agent verify jacoco:report coveralls:report -DrepoToken=${{ secrets.coveralls }}
